.no-focus-style {
  outline: none !important;
  box-shadow: none !important;
}

.no-focus-style:focus {
  outline: none !important;
  box-shadow: none !important;
}   

.border-focus:focus{
    border-color: #277D08 !important;
    outline: none !important;
    box-shadow: none !important;
}